[Unit]
Description=Dropbear SSH Server
After=network.target

[Service]
Type=simple
ExecStart=/usr/bin/dropbear -F -P /run/dropbear.pid -R -w

[Install]
WantedBy=multi-user.target
